.footer {

	/*right: 0;
	left: 0;
	bottom: 0;
	margin-bottom: 0;
	z-index: 1030;*/

	padding: 30px;
	background-color:rgb(50,50,50);
	color:white;
}
.footer > section > article > ul > li {list-style: none; margin: 5px;}
.footer > section > article > ul > li a {text-transform: uppercase; font-weight: bold; color: white; font-size: 8pt; text-decoration: none;}
.footer > section > article > ul > li a:hover {color: orange;}
.footer > section > article > ul > li a:active {color: white;}
.footer > section > .logo-bottom > a { color: white; font-size: 15pt; text-decoration: none; }
.footer > section > .logo-bottom > a:hover { color: orange;}

.mtop30px{margin-top: 30px;}
.mtop45px{padding-top:55px;}
.pbottom20px{padding-bottom:20px; }
.ht300px{height: 300px;}
.bggray{background-color:rgb(50,50,50);}
.bglightgray{background-color:rgb(180,180,180);}
.clightgray{color:rgb(180,180,180);}
.fxtop{position: fixed; top:0;right: 0;left: 0; z-index: 1030;}
.right-text{text-align: right;}
.pd10px{padding: 10px 10px 0px 10px;}
.cb{clear: both;}


/*HOME*/
.article-home {}
.article-home > header > img {max-width:100%;}
.article-home >  header {margin-bottom: 10px;}
.article-home > section {text-align: justify; font-family: sans-serif; font-size: 10pt; border-radius: 10px; background-color:lightgray; padding: 12px;}
.article-home > footer {text-align: right;}
.article-home > footer > a {font-family: sans-serif; font-size: 8pt; color: orange; font-weight: bold;}
/*HOME*/

/*PAGE IN*/
.article-in >  header {margin-bottom: 10px;}
.article-in >  header > img {max-width:100%; max-height: 250px;}
.article-in > section {text-align: justify; font-family: sans-serif; font-size: 14pt; background-color:rgba(158,158,158,0.2); padding: 12px;}
.article-in > footer {text-align: right;}
.article-in > footer > a {font-family: sans-serif; font-size: 8pt; color: orange; font-weight: bold;}
/*PAGE IN*/


.face_icon{
	position: absolute;
	right:10px;
}
.search_icon{
	position: absolute;
	right: 220px;
}
.search_box{
	position: absolute;
	right: 50px;
}
.search_box_round{
	border-radius: 5px;
	background-color: rgba(255,255,255,5.0);
	border: 0px;
}
.fl{float: left;}
.fr{float: right;}
.mleft15px{margin-left: 15px;}
/*nav toogle*/
#nav-toggle { width: 36px; }
#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background-color:rgb(255,255,255);
	position: absolute;
	display: block;
	content: '';
}
#nav-toggle span:before {
	top: -10px;
}
#nav-toggle span:after {
	bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
	background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}
#nav-toggle.active span:before {
	transform: rotate(45deg);
}
#nav-toggle.active span:after {
	transform: rotate(-45deg);
}

.nav-bar{}
.nav{float: right}
.nav > li {float: left;}

.nav > li > a{
	color:rgb(255,255,255);
	font-weight: bold;
	transition: all .3s ease-in-out
}
.nav > li > a:hover{
	background-color: rgba(255,255,255,0.3);
	color:rgb(255,165,0);

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}
.bgblack {
	background-color: rgba(0,0,0,0.5);
	border-radius: 30px;
}


#conteudo{min-height: calc(100vh - 128px)}

/*Modal*/
.window{
	max-width: 500px;

	display:none;
	position:absolute;
	left:0;
	top:0;
	background:#FFF;
	z-index:9900;
	padding:10px;
	border-radius:10px;
}

#mascara{
	display:none;
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:rgb(0,0,0);
}

.fechar{display:block; text-align:right;}

/*Modal*/